body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --amplify-primary-color: #ce8ced;
  --amplify-primary-tint: #ff7359;
  --amplify-primary-shade: #e0573e;
}